.main__description {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  margin: 40px 0 34px;
}

.main__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@media (max-width: 768px) {
  .main__description {
    margin: 32px 0 20px;
  }

  .main__items {
    gap: 16px;
  }
}
