.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  position: relative;
}

.header .toggle-switch {
  flex-shrink: 0;
}

.header__logo-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.header__logo-block {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-right: 24px;
}

.header__date-location {
  margin: 0;
}

.header__profile-link {
  text-decoration: none;
  color: inherit;
}

.header__user-container {
  display: flex;
  align-items: center;
}

.header__menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.header__menu-icon {
  width: 40px;
  height: 40px;
}

@media (max-width: 768px) {
  .header {
    padding: 18px 0 16px;
    flex-direction: column;
    align-items: center;
  }
  .header__logo-block {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__logo {
    margin: 0;
  }
  .header__toggle-switch {
    margin: 0;
  }
  .header__menu-toggle {
    display: block;
  }
  .header__add-clothes-button,
  .header__user-container,
  .header__toggle-switch,
  .header__signup-button,
  .header__login-button {
    display: none;
  }
}
