.modal__content--card {
  padding: 0;
  max-width: 498px;
  border-radius: 16px;
  position: relative;
}

.modal__content--card .modal__close-button {
  top: 24px;
  right: 24px;
}

.modal__image {
  width: 100%;
  height: 498px;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}

.modal__info {
  display: flex;
  justify-content: space-between;
  padding: 0 32px 32px 32px;
}

.modal__caption {
  font-size: 20px;
  font-weight: 700;
  margin: 20px 0 12px;
  line-height: 24px;
}

.modal__weather {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal__delete-button {
  background: none;
  border: none;
  color: #ff4d00;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  padding: 0;
  display: flex;
  align-items: flex-start;
  margin: 20px 0 0;
}

@media (max-width: 768px) {
  .modal--card {
    align-items: center;
    justify-content: center;
  }

  .modal__content--card {
    max-width: 343px;
    height: 463px;
    border-radius: 12px;
  }

  .modal__content--card .modal__close-button {
    top: 12px;
    right: 12.79px;
  }

  .modal__image {
    height: 343px;
    border-radius: 12px;
  }

  .modal__info {
    padding: 0 20px 40px;
  }
}
